<% @libs.each do |lib| %>
  <div>
    <h3><%= lib.name %></h3>
    <%= link_to "Our Site", library_path(lib)%>
    <% if current_user%>
      <%= button_to "Become a Member", new_user_library_path(lib)%> 
    <%end%>
  </div>
  <hr>
<% end %>

<%= link_to "Add a Library to Our List", new_library_path%>